.vscode/**
.vscode-test/**
out/**
node_modules/**
!dist/node_modules/sqlite3/**
src/**
.gitignore
.yarnrc
webpack.config.js
vsc-extension-quickstart.md
**/tsconfig.json
**/.eslintrc.json
**/*.map
**/*.ts
!dist/**/*.js
